*.iml
.DS_Store
.gradle/
.idea/
.kotlin/
local.properties
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.idsig
*.aab
*.ap_
*.jks
*.keystore
*.p12
*.pfx
harbor-release-password.txt
keystore.properties

**/build/
